<h1><%= current_user.username %></h1>

<h2><%= current_user.username %>'s cats</h2>

<ul>
    <% @cats.each do |cat| %>
    <li>
        <a href="<%= cat_url(cat) %>"><%= cat.name %></a>
    </li>
    <% end %>
</ul>
<br>

<h2><%= current_user.username %>'s cat rental requests</h2>

<ul>
    <% @cat_rental_requests.each do |cat_r_r| %>
    <li>
        <a href="<%= cat_rental_request_url(cat_r_r) %>"><%= cat_r_r.start_date %></a>
    </li>
    <% end %>
</ul>

<br><br>
<a href="<%= new_cat_url %>">Create Cat</a><br>
