<h1><%= current_user.username %></h1>

<h2><%= current_user.username %>'s cats</h2>

<ul>
    <% @cats.each do |cat| %>
    <li>
        <a href="<%= cat_url(cat) %>"><%= cat.name %></a>
        <br>
        
        <%= render 'cat_rental_requests/index', cat_rental_requests: cat.cat_rental_requests, 
                                                owner_call: true,
                                                extended_list: false %>

    </li>
    <% end %>
</ul>
<br>

<h2><%= current_user.username %>'s cat rental requests</h2>

<%= render 'cat_rental_requests/index', cat_rental_requests: @cat_rental_requests, 
                                        owner_call: false,
                                        extended_list: true%>


<br><br>
<a href="<%= new_cat_url %>">Create Cat</a><br>

<br>
<a href="<%= new_cat_rental_request_url %>">New Cat Rental Request</a>
