<h1><%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th>Show Request</th>
        </tr>
    </thead>
    <% @cat_rental_requests.each do |cat_r_r| %>
    <tbody>
        <tr>
            <td><%= cat_r_r.start_date %></td>
            <td><%= cat_r_r.end_date %></td>
            <td><%= cat_r_r.status %></td>
            <td><a href="<%= cat_rental_request_url(cat_r_r) %>">Show this request</a>
        </tr>
    </tbody>
    <% end %>
</table>

