<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Start date: </td>
            <td><%= @cat_rental_request.start_date %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>End date: </td>
            <td><%= @cat_rental_request.end_date %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Status: </td>
            <td><%= @cat_rental_request.status %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Requester: </td>
            <td><%= @cat_rental_request.requester.username %></td>
        </tr>
    </tbody>
</table>
<br>
<% if (@owner_call && @cat_rental_request.pending?) %>
    <a href="<%= approve_cat_rental_request_url(@cat_rental_request) %>">Approve Request</a><br>
    <a href="<%= deny_cat_rental_request_url(@cat_rental_request) %>">Deny Request</a>
<% end %>

