<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update Cat" : "Create Cat" %>

<%= render 'layouts/errors' %>

<form action="<%= action_url %>" method="POST">
    <input type="hidden" name="_method" value="<%= form_method %>">
    <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  
  <label for="cat_name">Name</label>
  <input name="cat[name]" id="cat_name" type="text" value="<%= cat.name %>">
  <br>

  <label for="cat_birth_date">Birth Date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date" value="<%= cat.birth_date %>">
  <br>
  
  
  <% Cat::SEXES.each do |sex|  %>
    <label>
     <input type="radio"
            name="cat[sex]" 
            value=<%= sex %> <%= cat.sex == sex ? "checked" : ""  %>>
    <%= sex == "M" ? "Male" : "Female"  %>
    </label>
  <% end %>
  <br>


  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color"> 
  <option disabled selected> -- select a color -- </option>
    <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>" <%= "selected" if cat.color == color %>><%= color.upcase %></option>
    <% end %>
  </select>
  <br>


  <label for="description">Description</label>
  <textarea name="cat[description]" id="description"><%= cat.description %></textarea>
  <br>

  <input type="submit" value="<%= submit_text %>">

  
</form>