
<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age: </td>
            <td><%= @cat.age %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Birth date: </td>
            <td><%= @cat.birth_date %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Color: </td>
            <td><%= @cat.color %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Sex: </td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Description: </td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>

</table>

