<h2><%= @cat.name %></h2>

<table>
    <tbody>
        <tr>
            <td>Age: </td>
            <td><%= @cat.age %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Birth date: </td>
            <td><%= @cat.birth_date %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Color: </td>
            <td><%= @cat.color %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Sex: </td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Description: </td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Owner: </td>
            <td><%= @cat.owner.username %></td>
        </tr>
    </tbody>

</table>

<% if current_user == @cat.owner %>
    <% owner_call = true %>
    <a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>
<% end %>

<br><br>
<h2><%= @cat.name %>'s rental requests</h2>
<%= render 'cat_rental_requests/index', cat_rental_requests: @cat_rental_requests, 
                                        owner_call: owner_call,
                                        extended_list: false%>

