<!DOCTYPE html>

<% flash[:notices].try(:each) do |msg| %>
  <%= msg %>
<% end %>

<html>
  <head>
    <title>NinetynineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  </head>

<body>

  <% if current_user.nil? %>
    <form action="<%= new_session_url %>" method="GET">
      <input type="submit" value="Login" />
    </form>
  <% else %>
    <ul>
      <li>Logged in as: <%= current_user.username %></li>
      <li>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
          <input type="hidden" value="delete" name="_method" />
          <input type="submit" value="Logout" />
        </form>
      </li>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
